{{#if user}}
    <div class="welcome-message">
        <p>Bienvenid@, {{user.email}}. </p>
        <p>Rol: {{user.role}}</p>
    </div>

    <form action="api/users/logout" method="post">
        <button type="submit">Logout</button>
    </form>

{{/if}}

<div class="products-heading">
    <h3>Productos Disponibles</h3>
</div>

<div class="container-products">

    <div class="table-home">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
            </tr>
            {{#each products}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>${{this.price}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>